* 
{
    box-sizing: border-box
}
body{
    margin: 0;
}
.container-fluid
{
    height: 100vh;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social
{
    color: #fff;
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: space-between;
    width: 450px;
}
.social_item
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s;
}
.social_item{
    cursor: pointer;
}

.facebook:hover
{
    border-color: #3b5998;
    box-shadow: 0px 0px 20px #3b5998;
    color: #3b5998
}
.whatsapp:hover
{
    border-color: #4dc247;
    box-shadow: 0px 0px 20px #4dc247;
    color: #4dc247
}
.telegram:hover{
    border-color: #0088cc;
    box-shadow: 0px 0px 20px #0088cc;
    color: #0088cc
}
.twitter:hover{
    border-color: #1da1f2;
    box-shadow: 0px 0px 20px #1da1f2;
    color: #1da1f2;
}

.vk:hover{
    border-color: #165780;
    box-shadow: 0px 0px 20px #165780;
    color: #165780;
}
.instagram:hover{
    border-color:#F77737;
    box-shadow: 0px 0px 20px #F77737;
    color:#F77737;
}